@use '../../../assets/styles/variables.scss' as vars;

.row {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    height: vars.$row-height;
    align-items: center;
    padding: 0 16px;
    background: vars.$bg-row;
    border-bottom: 1px solid vars.$border-color;
}

.cell {
    font-size: 14px;
    color: vars.$text-main;
}

.id {
    color: vars.$accent;
}
