@use '../../assets/styles/variables.scss' as vars;

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: vars.$bg-main;
}

.list {
    width: 95%;
    height: 95%;
    overflow: auto;
    border-radius: 15px;
}
